/* .App {
  background-color: #616161;
} */

.App-header {
  /* float: left; */
  display: flex;
  height: 13vh;
  /* background: linear-gradient(-45deg, #bc62d9 20%, #FF8E53 45%); */
  /* background: linear-gradient(-90deg,#bc62d9 20%, #FF8E53 40%, #414141 30%); */
  background: #313131;
  /* right: "auto"; */
}

.Bottom-Nav {
  display: center;
}

.App-body {
  min-height: 87vh;
  background-color: #313131;
}

.App-options {
  float: left;
}

.App-navigate {
  float: right;
}

/* .App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-body {
  background-color: #474e5c;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
